.aside-link__wrapper {
	margin-left: 16px;
	margin-right: 16px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 4px;
	background: white;
	color: var(--mantine-color-dark-6);
	font-family: Ubuntu, sans-serif;
	position: relative;
	transition: all 0.2s ease;
}

.aside-link__wrapper::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 2px;
	border-radius: 4px 0 0 4px;
	background: var(--mantine-color-accent-4);
	opacity: 0;
}

.aside-link__wrapper:hover {
	background: var(--mantine-color-gray-1);
	color: var(--mantine-color-dark-9);
}

.aside-link__wrapper[data-active="true"] {
	background: var(--mantine-color-gray-0);
	color: var(--mantine-color-dark-9);
}

.aside-link__wrapper[data-active="true"]::before {
	opacity: 1;
}

.aside-link__wrapper[data-coming="true"] {
	color: var(--mantine-color-dark-0);
	cursor: default;
}

.aside-link__icon {
	height: 18px;
	width: 18px;
}

.aside-link__label {
	font-size: 13px;
}